$dark-red: rgb(119, 27, 27);
$black: black;
$whiteSmoke: whiteSmoke;

$dark-red: rgb(119, 27, 27);
$black: black;
$whiteSmoke: whiteSmoke;
$gray: gray;

.container {
    display: flex;
}

.left {
    width: 20rem;
}

.ReactQuill {
    width: 15rem;
}
