<app-hero-detail [hero]="selectedHero"></app-hero-detail>

<ul class="heroes">
  <li *ngFor="let hero of heroes"  [class.selected]="hero === selectedHero">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge"> {{ hero.id }} </span>
      <span>{{ hero.name }} </span>
    </a>
    <button (click)="delete(hero)" >X</button>
  </li>
</ul>
<button (click)="onClear()">Clear</button>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
